<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.web.mapper.PictureMapper">

    <insert id="insertPicture" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pictures(
            report_id, url
        )
        VALUES (
            ${report_id}, #{url}
        )
    </insert>

    <select id="queryByReportID" resultType="java.lang.String">
        SELECT url
        FROM pictures
        WHERE report_id = ${reportID}
    </select>

    <delete id="deleteByReportID">
        DELETE FROM pictures
        WHERE report_id = ${report_id}
    </delete>

</mapper>